@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    .link{
        @apply hover:underline cursor-pointer;
    }

    .w-600{
        width: 600px;
    }

    .w-100{
        width: 40rem;
       
    }

    .w-97{
        width: 25rem;
    }

    .ele-btm{
         position: absolute;
        bottom: 0px;
    }

    .w-searchbar-md{
        width: 40rem;
    }

    .w-5xl{
        	width: 67rem;
    }
 
}